// Unset default theming so that we can do our own
* { all: unset; }

// TODO: organise classes and variables into separate files
// e.g. @import "theme.scss";

// TODO: nix-colors
// catppuccin mocha
$base00: #1e1e2e; // base (background)
$base01: #181825; // mantle
$base02: #313244; // surface0
$base03: #45475a; // surface1
$base04: #585b70; // surface2
$base05: #cdd6f4; // text (foreground)
$base06: #f5e0dc; // rosewater
$base07: #b4befe; // lavender
$base08: #f38ba8; // red
$base09: #fab387; // peach
$base0A: #f9e2af; // yellow
$base0B: #a6e3a1; // green
$base0C: #94e2d5; // teal
$base0D: #89b4fa; // blue
$base0E: #cba6f7; // mauve
$base0F: #f2cdcd; // flamingo

// catppuccin macchiato
//$base00: #24273a; // base
//$base01: #1e2030; // mantle
//$base02: #363a4f; // surface0
//$base03: #494d64; // surface1
//$base04: #5b6078; // surface2
//$base05: #cad3f5; // text
//$base06: #f4dbd6; // rosewater
//$base07: #b7bdf8; // lavender
//$base08: #ed8796; // red
//$base09: #f5a97f; // peach
//$base0A: #eed49f; // yellow
//$base0B: #a6da95; // green
//$base0C: #8bd5ca; // teal
//$base0D: #8aadf4; // blue
//$base0E: #c6a0f6; // mauve
//$base0F: #f0c6c6; // flamingo

// catppuccin frappe
//$base00: #303446; // base
//$base01: #292c3c; // mantle
//$base02: #414559; // surface0
//$base03: #51576d; // surface1
//$base04: #626880; // surface2
//$base05: #c6d0f5; // text
//$base06: #f2d5cf; // rosewater
//$base07: #babbf1; // lavender
//$base08: #e78284; // red
//$base09: #ef9f76; // peach
//$base0A: #e5c890; // yellow
//$base0B: #a6d189; // green
//$base0C: #81c8be; // teal
//$base0D: #8caaee; // blue
//$base0E: #ca9ee6; // mauve
//$base0F: #eebebe; // flamingo

// catppuccin latte (gross)
//$base00: #eff1f5; // base
//$base01: #e6e9ef; // mantle
//$base02: #ccd0da; // surface0
//$base03: #bcc0cc; // surface1
//$base04: #acb0be; // surface2
//$base05: #4c4f69; // text
//$base06: #dc8a78; // rosewater
//$base07: #7287fd; // lavender
//$base08: #d20f39; // red
//$base09: #fe640b; // peach
//$base0A: #df8e1d; // yellow
//$base0B: #40a02b; // green
//$base0C: #179299; // teal
//$base0D: #1e66f5; // blue
//$base0E: #8839ef; // mauve
//$base0F: #dd7878; // flamingo

// dracula (temporary)
//$base00: #282936; // background
//$base01: #3a3c4e;
//$base02: #4d4f68;
//$base03: #626483;
//$base04: #62d6e8;
//$base05: #e9e9f4; // foreground
//$base06: #f1f2f8;
//$base07: #f7f7fb;
//$base08: #ea51b2;
//$base09: #b45bcf;
//$base0A: #00f769;
//$base0B: #ebff87;
//$base0C: #a1efe4;
//$base0D: #62d6e8;
//$base0E: #b45bcf;
//$base0F: #00f769;

// solarized dark (temporary)
//$base00: #002b36;
//$base01: #073642;
//$base02: #586e75;
//$base03: #657b83;
//$base04: #839496;
//$base05: #93a1a1;
//$base06: #eee8d5;
//$base07: #fdf6e3;
//$base08: #dc322f;
//$base09: #cb4b16;
//$base0A: #b58900;
//$base0B: #859900;
//$base0C: #2aa198;
//$base0D: #268bd2;
//$base0E: #6c71c4;
//$base0F: #d33682;

$background: $base00;
$foreground: $base05;
$selected: $base0B;

tooltip {
  color: $foreground;
  background-color: $background;
  border-radius: 10px;
}

.widgets {
  color: $foreground;
  background-color: $background;
  border: 2px solid rgba($base0E, 0.933);
  border-radius: 10px;
  margin: 4px;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
}

.workspace_focused {
  padding: 6px;
  color: $base0B;
}

.workspace_inactive {
  color: $base03;
}

.workspace_hover {
  color: $base09;
}
// the star icon is shifted to the right slightly
// so we add some padding to centre it
.workspace_inactive_star {
  padding-right: 4px;
  color: $base02;
}
// TODO
.workspace_focused_star {
  padding: 6px;
  color: $selected;
}

.workspace_active {
  padding: 6px;
  color: $base0F;
}

.pomodoro_work {
  font-size: 15px;
  color: $base0D;
  background-color: $background;
}
.pomodoro_break {
  font-size: 15px;
  color: $base0E;
  background-color: $background;
}

.battery_normal {
  font-size: 15px;
  color: $base0B;
  background-color: $background;
}

.battery_stats_normal {
  font-size: 30px;
  padding: 5px;
  color: $base0B;
  border: 5px solid $background;
  background-color: $background;
}
.battery_stats_warning {
  font-size: 30px;
  padding: 5px;
  color: $base0A;
  border: 5px solid $background;
  background-color: $background;
}
.battery_stats_critical {
  font-size: 30px;
  padding: 5px;
  color: $base08;
  border: 5px solid $background;
  background-color: $background;
}

.popup {
    color: $base0F;
    background-color: $background;
    border: 2px solid $base0E;
    border-radius: 10px;
    padding: 10px;
}
.settings_popup {
    color: $base0F;
    background-color: $background;
    border: 2px solid $foreground;
    border-radius: 10px;
    padding: 5px;
}
.button_enabled {
    color: $background;
    background-color: $base0F;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
}
.button_disabled {
    color: $base0F;
    background-color: $background;
    border: 1px solid $foreground;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
}

.wifi_button_enabled {
    color: $background;
    background-color: $selected;
    //border: 1px solid $foreground;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
}
.wifi_button_disabled {
    color: $base0F;
    background-color: $background;
    //border: 1px solid $foreground;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
}
.wifi_icon {
  font-size: 25px;
  padding-right: 20px;
}
.wifi_name_connected {
  color: $background;
  font-weight: bold;
}
.wifi_undertext_connected {
  color: $background;
}
.wifi_undertext_saved {
  color: $base0A;
}

calendar {
  color: $base0F;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
calendar:selected {
  color: $selected;
  background: $base01;
  border-radius: 10px;
}
calendar.header {
  color: $base0E;
  //font-weight: bold;
}
calendar.button {
  color: $base0F;
}
calendar.highlight {
  color: $base0E;
  //font-weight: bold;
}
calendar:indeterminate {
  color: $base04;
}

.time_hour {
  font-family: "Victor Mono";
  color: $base08;
  padding-left: 10px;
}

.time_minute {
  font-family: "Victor Mono";
  color: $base0C;
  padding-right: 10px;
}

.full_date {
  font-family: "Victor Mono";
  color: $base09;
  padding-right: 10px;
}

.time_separator {
  padding: 5px;
  color: $foreground;
}
